.about {
  position: relative;

  &__bg {
    position: relative;
    left: calc(-37% - 10px);
    border-radius: 10px;
    width: 1071px;
    height: 750px;
    background-color: var(--gray-color);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 10px;
      width: 100%;
      height: 750px;
      background-color: rgba(0, 0, 0, 0.35);
    }
  }

  &__container {
    position: relative;
    padding: 150px 0 0;
  }

  &__title {
    margin: 0;
  }

  &__wrapper {
    position: absolute;
    right: 60px;
    top: calc(150px + 10%);
    z-index: 2;
    border-radius: 10px;
    padding: 60px 85px 105px;
    max-width: 540px;
    background-color: var(--gray-color);

    @include mobile {
      margin: 200px 0 0;
      padding: var(--big-offset);
    }

    @include small-tablet {
      left: var(--container-offset);
      right: 0;
      width: calc(100% - var(--container-offset) * 2);
      max-width: none;
    }

    @include mobile {
      top: var(--big-offset);
    }
  }

  &__text {
    p {
      margin: var(--middle-offset) 0 0;

      &:first-child {
        margin: var(--big-offset) 0 0;
      }

      @include mobile {
        font-size: 15px;
      }
    }
  }
}
