.footer {
  &__container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: var(--big-offset) var(--container-offset);
    gap: var(--middle-offset);

    @include tablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__logo {
    grid-column: span 2;

    @include tablet {
      grid-column: span 1;
    }

    @include small-tablet {
      grid-column: span 1;
    }
  }

  &-nav {
    grid-column: span 2;

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      width: fit-content;

      &:not(:first-child) {
        margin: var(--small-offset) 0 0;
      }
    }

    &__link {
      color: var(--black-color);

      &:hover {
        color: var(--main-color);
      }
    }

    @include tablet {
      grid-column: span 2;
    }

    @include small-tablet {
      grid-column: span 1;
      grid-row: 2;
    }
  }

  &-socials {
    display: flex;
    align-items: center;
    margin: var(--middle-offset) 0 0;

    &__item {
      &:not(:first-child) {
        margin: 0 0 0 var(--small-offset);
      }
    }

    &__link {
      &:hover {
        stroke: var(--main-color);
      }

      &--vk {
        stroke: #bc0000;
      }

      &--inst {
        stroke: #e59b06;
      }

      &--fb {
        stroke: #17c1bc;
      }
    }
  }

  &__contacts {
    grid-column: 7 / span 3;

    @include tablet {
      grid-column: span 2;
    }

    @include small-tablet {
      grid-column: span 1;
    }
  }

  &__contact {
    display: flex;

    &:not(:first-child) {
      margin: var(--small-offset) 0 0;
    }

    &--whatsapp {
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("../img/svg/icon-whatsapp.svg") no-repeat;
      }
    }

    &--tg {
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("../img/svg/icon-tg.svg") no-repeat;
      }
    }

    &--mail {
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("../img/svg/icon-mail.svg") no-repeat;
      }
    }
  }

  &__link {
    margin: 0 0 0 5px;
    color: var(--black-color);
    transition: color 0.15s ease-in-out;

    &:hover {
      color: var(--main-color);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;

    @include small-tablet {
      grid-column: span 1;
    }
  }
}
