.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    padding: var(--middle-offset) var(--container-offset);
  }

  &-nav {
    margin: 0 0 0 auto;

    &__list {
      align-items: center;
    }

    &__item {
      &:not(:first-child) {
        margin: 0 0 0 var(--middle-offset);
      }
    }

    &__link {
      color: var(--white-color);

      &:hover {
        color: var(--secondary-color);
      }
    }

    @include small-tablet {
      display: none;
    }
  }

  .burger {
    @include burger;

    display: none;

    @include small-tablet {
      display: block;
      margin: 0 0 0 auto;
    }
  }
}
