.hero {
  padding: calc(100px + 150px) 0;
  height: 100vh;
  min-height: 800px;
  background-image: url("../img/bgs/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--gray-color);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    position: relative;
    max-width: 723px;

    &__first {
      font-weight: 700;
      font-size: 72px;
      line-height: 88px;
      color: var(--white-color);

      @include tablet {
        font-size: 60px;
      }

      @include small-tablet {
        font-size: 48px;
        line-height: 59px;
      }
    }

    &__second {
      position: absolute;
      right: 30px;
      top: 50px;
      font-size: 64px;
      color: var(--secondary-color);

      @include tablet {
        right: 90px;
      }

      @include small-tablet {
        top: 45px;
        font-size: 48px;
        line-height: 48px;
      }
    }

    &__third {
      font-weight: 900;
      font-size: 96px;
      line-height: 117px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px var(--white-color);

      @include tablet {
        font-size: 80px;
      }

      @include small-tablet {
        display: block;
        margin: var(--middle-offset) 0 0;
        line-height: 100%;
      }
    }

    @include small-tablet {
      max-width: 470px;
    }
  }

  &__link {
    margin: var(--big-offset) 0 0;
    width: 230px;
    height: 50px;
  }

  &-socials {
    &__item {
      &:not(:first-child) {
        margin: var(--small-offset) 0 0;
      }
    }

    &__link {
      stroke: var(--white-color);

      &:hover {
        stroke: var(--secondary-color);
      }
    }
  }
}
