<section class="request">
  <div class="container request__container">
    <div class="request__wrapper">
      <h2 class="request__title">Остались вопросы?</h2>
      <span class="request__text">Оставь заявку и&nbsp;мы&nbsp;ответим</span>
      <form action="" class="request__form">
        <input type="text" placeholder="Имя" class="request__input" value="">
        <input type="text" placeholder="Телефон" class="request__input">
        <input type="text" placeholder="Почта" class="request__input">
        <input type="submit" value="Оставить заявку" class="request__btn btn">
      </form>
    </div>
  </div>
</section>
