<section class="addons">
  <div class="container addons__container">
    <h2 class="addons__title title">Дополнительные расходы (по&nbsp;желанию)</h2>
    <ul class="addons__list list-reset">
      <li class="addons__item info-block">
        <strong class="info-block__title subtitle">200&nbsp;&#8381;</strong>
        <p class="info-block__text descr">Дача Сталина</p>
      </li>
      <li class="addons__item info-block">
        <strong class="info-block__title subtitle">200&nbsp;&#8381;</strong>
        <p class="info-block__text descr">Дача Сталина</p>
      </li>
      <li class="addons__item info-block">
        <strong class="info-block__title subtitle">200&nbsp;&#8381;</strong>
        <p class="info-block__text descr">Дача Сталина</p>
      </li>
      <li class="addons__item info-block">
        <strong class="info-block__title subtitle">200&nbsp;&#8381;</strong>
        <p class="info-block__text descr">Дача Сталина</p>
      </li>
      <li class="addons__item info-block">
        <p class="info-block__text descr">Обед</p>
      </li>
    </ul>
  </div>
</section>
