<section class="feedback">
  <div class="container feedback__container">
    <div class="feedback__upper">
      <h2 class="title feedback__title">Отзывы</h2>
      <a href="#" class="feedback__title view-all">Смотреть все</a>
    </div>
    <div class="swiper feedback-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide feedback-slide">
            <img src="img/feedback/1.jpg" alt="" class="feedback-slide__img">
          <div class="feedback-slide__content">
            <strong class="feedback-slide__name">Иван Иванов, 25 лет</strong>
            <p class="feedback-slide__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod
              tempor incididunt ut&nbsp;labore
              et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris
              nisi
              ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor in&nbsp;reprehenderit
              in&nbsp;voluptate velit
              esse cillum dolore eu&nbsp;fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
              in&nbsp;culpa qui
              officia deserunt mollit anim id&nbsp;est laborum.</p>
          </div>
        </div>
        <div class="swiper-slide feedback-slide">
          <img src="img/feedback/2.jpg" alt="" class="feedback-slide__img">
          <div class="feedback-slide__content">
            <strong class="feedback-slide__name">Иван Иванов, 25 лет</strong>
            <p class="feedback-slide__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod
              tempor incididunt ut&nbsp;labore
              et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris
              nisi
              ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor in&nbsp;reprehenderit
              in&nbsp;voluptate velit
              esse cillum dolore eu&nbsp;fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
              in&nbsp;culpa qui
              officia deserunt mollit anim id&nbsp;est laborum.</p>
          </div>
        </div>
        <div class="swiper-slide feedback-slide">
          <img src="img/feedback/1.jpg" alt="" class="feedback-slide__img">
          <div class="feedback-slide__content">
            <strong class="feedback-slide__name">Иван Иванов, 25 лет</strong>
            <p class="feedback-slide__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod
              tempor incididunt ut&nbsp;labore
              et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris
              nisi
              ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor in&nbsp;reprehenderit
              in&nbsp;voluptate velit
              esse cillum dolore eu&nbsp;fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
              in&nbsp;culpa qui
              officia deserunt mollit anim id&nbsp;est laborum.</p>
          </div>
        </div>
      </div>

      <div class="feedback-slider__controls swiper-controls">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
