<section class="gallery">
  <div class="container gallery__container">
    <h2 class="title gallery__title">Галерея</h2>
    <a href="#" class="gallery__link view-all">Смотреть все</a>
  </div>
  <div class="gallery__wrapper">
    <div class="gallery__item">
      <img src="img/gallery/1.jpg" alt="">
    </div>
    <div class="gallery__item">
      <img src="img/gallery/2.jpg" alt="">
    </div>
    <div class="gallery__item">
      <img src="img/gallery/3.jpg" alt="">
    </div>
    <div class="gallery__item">
      <img src="img/gallery/4.jpg" alt="">
    </div>
    <div class="gallery__item">
      <img src="img/gallery/5.jpg" alt="">
    </div>
    <div class="gallery__item">
      <img src="img/gallery/6.jpg" alt="">
    </div>
    <div class="gallery__item">
      <img src="img/gallery/7.jpg" alt="">
    </div>
    <div class="gallery__item">
      <img src="img/gallery/8.jpg" alt="">
    </div>
  </div>
</section>
