<section class="kinds">
  <div class="container kinds__container">
    <h2 class="title kinds__title">Виды экскурсий</h2>
    <ul class="kinds__list list-reset">
      <li class="kinds-item">
        <img src="img/svg/kind-1.svg" alt="" class="kinds-item__img">
        <div class="kinds-item__content">
          <strong class="kinds-item__title">Автобусный тур</strong>
          <p class="kinds-item__descr">Один из&nbsp;самых насыщенных впечатлениями, доступных по&nbsp;цене
            и&nbsp;популярных видов отдыха. Во&nbsp;время одной
            поездки можно посмотреть достопримечательности сразу нескольких городов, причем обойдется это едва&nbsp;ли
            не&nbsp;в&nbsp;разы дешевле классического экскурсионного тура с&nbsp;ночевками в&nbsp;отелях.</p>
        </div>
      </li>
      <li class="kinds-item">
        <img src="img/svg/kind-2.svg" alt="" class="kinds-item__img">
        <div class="kinds-item__content">
          <strong class="kinds-item__title">Джиппинг</strong>
          <p class="kinds-item__descr">Это путешествие на&nbsp;автомобилях высокой проходимости с&nbsp;преодолением
            естественных препятствий, это экстремальный
            вид спорта и&nbsp;отдыха, представляющий собой прохождение туристического маршрута по&nbsp;бездорожью
            на&nbsp;автомобилях.</p>
        </div>
      </li>
      <li class="kinds-item">
        <img src="img/svg/kind-3.svg" alt="" class="kinds-item__img">
        <div class="kinds-item__content">
          <strong class="kinds-item__title">Яхтинг</strong>
          <p class="kinds-item__descr">Это то&nbsp;же, что круиз на&nbsp;лайнере или прогулка на&nbsp;пароме, только
            на&nbsp;яхте больше свободы, размеры судна
            в&nbsp;разы меньше, нет назойливой команды, можно самостоятельно почувствовать себя капитаном, постоять
            за&nbsp;штурвалом. Именно здесь вы&nbsp;почувствуете величайшие просторы Черногор моря.</p>
        </div>
      </li>
      <li class="kinds-item">
        <img src="img/svg/kind-4.svg" alt="" class="kinds-item__img kinds-item__img--correct">
        <div class="kinds-item__content">
          <strong class="kinds-item__title">Каньонинг</strong>
          <p class="kinds-item__descr">Это экстремально-спортивный вид отдыха, который заключается в&nbsp;преодолении
            каньонов (обводненных или нет) при помощи
            альпинистского и&nbsp;иного снаряжения, а&nbsp;иногда и&nbsp;вброд, но&nbsp;без лодок или иных плавсредств.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
