<section class="important">
  <div class="container important__container">
    <h2 class="title important__title">Важная информация</h2>
    <div class="important__content">
      <ul class="important__list list-reset">
        <li class="important__text">При пересечении границы (Россия-Абхазия) при себе иметь:</li>
        <li class="important__item">
          <div class="important__wrapper"><strong class="important__subtitle subtitle">Паспорт
              гражданина&nbsp;РФ</strong>
          </div>
        </li>
        <li class="important__item">
          <div class="important__wrapper">
            <strong class="important__subtitle subtitle">Гражданам до&nbsp;14&nbsp;лет свидетельство
              о&nbsp;рождении</strong>
            <p class="important__descr descr">Несовершеннолетние дети пересекают границу в&nbsp;сопровождении родителей,
              в&nbsp;сопровождении законного представителя
              (нотариально заверенная доверенность с&nbsp;указанием страны вывоза ребенка).</p>
          </div>
        </li>
      </ul>
      <ul class="important__warnings list-reset">
        <li class="important__warning descr">Иностранным гражданам въезд в&nbsp;Абхазию <span>ограничен</span>, кроме граждан Украины,
          республик ДНР и&nbsp;ЛНР.</li>
        <li class="important__warning descr">При возвращении из&nbsp;Абхазии в&nbsp;Россию сдавать ПЦР-тест не&nbsp;нужно,
          на&nbsp;карантин помещать не&nbsp;будут
          (Постановление Правительства РФ&nbsp;1996-Р от&nbsp;01.08.2020).</li>
      </ul>
    </div>
  </div>
</section>
