<section class="route">
  <div class="container route__container">
    <div class="route__left">
      <h2 class="title route__title">Описание маршрута</h2>
      <ul class="route__list list-reset">
        <li class="route__stage">Город Гагра, Колоннада, ресторан &laquo;Гагрипш&raquo;, Парк принца Ольденбурского;
        </li>
        <li class="route__stage">Смотровая площадка &laquo;Прощай Родина&raquo;, &laquo;Чабгарский&raquo; карниз,
          Подвесной мост через реку
          &laquo;Бзыбь&raquo;;</li>
        <li class="route__stage">
          <p>Дегустация сыра, меда, вина, чачи (входит в&nbsp;стоимость экскурсии), Голубое Озеро,
            Юпшарский каньон (&laquo;Каменный
            мешок&raquo;), Озеро &laquo;Рица&raquo;, Водопады &laquo;Девичьи и&nbsp;мужские слезы&raquo;.</p>
        </li>
        <li class="route__text descr">Далее на выбор: </li>
        <li class="route__stage">
          <p>Монастырь &laquo;Новый Афон&raquo;, Новоафонская Пещера, &laquo;Рукотворный&raquo;
            водопад, храм &laquo;Симона
            Кананита&raquo;, Лебединое озеро.</p>
        </li>
        <li class="route__stage">
          <p>Термальный источник в&nbsp;с. Приморское.</p>
        </li>
      </ul>
    </div>
    <div class="swiper route-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide route-slider__slide">
          <img src="img/tours-preview/1/route/1.jpg" alt="" class="route-slider__img">
          <strong class="route-slider__title">Гагра</strong>
        </div>
        <div class="swiper-slide route-slider__slide">
          <img src="img/tours-preview/1/route/1.jpg" alt="" class="route-slider__img">
          <strong class="route-slider__title">Гагра</strong>
        </div>
        <div class="swiper-slide route-slider__slide">
          <img src="img/tours-preview/1/route/1.jpg" alt="" class="route-slider__img">
          <strong class="route-slider__title">Гагра</strong>
        </div>
      </div>
      <div class="route-slider__controls">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>

    </div>
  </div>
</section>
