<section class="tours">
  <div class="container tours__container">
    <div class="tours__upper">
      <h2 class="title tours__title">Популярные экскурсии</h2>
      <a href="#" class="tours__link view-all">Смотреть все</a>
    </div>

    <div class="swiper tours-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide tours-card" style="background-image: url('img/tours-card/1.jpg');">
          <div class="tours-card__wrapper">
            <span class="tours-card__type">Автобусный тур</span>
            <strong class="tours-card__title">Обзорная по&nbsp;Сочи (из&nbsp;Адлера)</strong>
            <div class="tours-card__info">
              <span class="tours-card__time">6 часов</span>
              <span class="tours-card__price">618&nbsp;&#8381;</span>
            </div>
            <p class="tours-card__descr">Приглашаем вас на&nbsp;экскурсию
              &laquo;Обзорная по&nbsp;Большому Сочи&raquo;:
              Экскурсия начнется с&nbsp;подъёма на&nbsp;гору Большой Ахун&nbsp;&mdash; это высшая точка
              (665&nbsp;метров)
              на&nbsp;побережьи Сочи. На&nbsp;вершине горы Большой Ахун есть смотровая башня, построенная в&nbsp;1935-36
              годах
              по&nbsp;проекту архитектора С.&nbsp;И.&nbsp;Воробьева...</p>
            <a href="#" class="tours-card__btn btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide tours-card" style="background-image: url('img/tours-card/2.jpg');">
          <div class="tours-card__wrapper">
            <span class="tours-card__type">Конный тур</span>
            <strong class="tours-card__title">Конные прогулки</strong>
            <div class="tours-card__info">
              <span class="tours-card__time">1,5 часа</span>
              <span class="tours-card__price">1 809&nbsp;&#8381;</span>
            </div>
            <p class="tours-card__descr">Конные прогулки проходят в&nbsp;Лазурной долине. С&nbsp;долины открывается
              красивый вид на&nbsp;море, горы и&nbsp;лес.
              На&nbsp;всем пути следования экскурсии вас будут сопровождать опытные инструктора. Катание на&nbsp;лошадях
              или
              иппотерапия очень полезна для детей и&nbsp;взрослых...</p>
            <a href="#" class="tours-card__btn btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide tours-card" style="background-image: url('img/tours-card/3.jpg');">
          <div class="tours-card__wrapper">
            <span class="tours-card__type">Квадротур</span>
            <strong class="tours-card__title">Пасть дракона</strong>
            <div class="tours-card__info">
              <span class="tours-card__time">2,5 часа</span>
              <span class="tours-card__price">3 515&nbsp;&#8381;</span>
            </div>
            <p class="tours-card__descr">Маршрут на&nbsp;Квадроциклах проходит по&nbsp;горной реке Мзымта вдоль белых
              скал и&nbsp;самшитовый лес к&nbsp;водопаду
              Глубокий Яр&nbsp;или &laquo;Пасть Дракона&raquo; (экскурсионное название).
              Высота водопада 41,5 метр&nbsp;&mdash; это один из&nbsp;самых высоких водопадов Большого Сочи...</p>
            <a href="#" class="tours-card__btn btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide tours-card" style="background-image: url('img/tours-card/1.jpg');">
          <div class="tours-card__wrapper">
            <span class="tours-card__type">Автобусный тур</span>
            <strong class="tours-card__title">Обзорная по&nbsp;Сочи (из&nbsp;Адлера)</strong>
            <div class="tours-card__info">
              <span class="tours-card__time">6 часов</span>
              <span class="tours-card__price">618&nbsp;&#8381;</span>
            </div>
            <p class="tours-card__descr">Приглашаем вас на&nbsp;экскурсию
              &laquo;Обзорная по&nbsp;Большому Сочи&raquo;:
              Экскурсия начнется с&nbsp;подъёма на&nbsp;гору Большой Ахун&nbsp;&mdash; это высшая точка
              (665&nbsp;метров)
              на&nbsp;побережьи Сочи. На&nbsp;вершине горы Большой Ахун есть смотровая башня, построенная в&nbsp;1935-36
              годах
              по&nbsp;проекту архитектора С.&nbsp;И.&nbsp;Воробьева...</p>
            <a href="#" class="tours-card__btn btn">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="tours-slider__controls">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
