<section class="tours">
  <div class="container tours__container">
    <div class="tours__upper">
      <h2 class="title tours__title">Популярные экскурсии</h2>
      <a href="#" class="tours__link">Смотреть все</a>
    </div>

    <div class="swiper tours-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide tours-card">
          <div class="tours-card__wrapper">
            <span class="tours-card__type">Автобусный тур</span>
            <strong class="tours-card__title">Обзорная по&nbsp;Сочи (из&nbsp;Адлера)</strong>
            <div class="tours-card__info">
              <span class="tours-card__time">6 часов</span>
              <span class="tours-card__price">618&nbsp;&#8381;</span>
            </div>
            <p class="tours-card__descr">Приглашаем вас на&nbsp;экскурсию
              &laquo;Обзорная по&nbsp;Большому Сочи&raquo;:
              Экскурсия начнется с&nbsp;подъёма на&nbsp;гору Большой Ахун&nbsp;&mdash; это высшая точка
              (665&nbsp;метров)
              на&nbsp;побережьи Сочи. На&nbsp;вершине горы Большой Ахун есть смотровая башня, построенная в&nbsp;1935-36
              годах
              по&nbsp;проекту архитектора С.&nbsp;И.&nbsp;Воробьева...</p>
            <a href="#" class="tours-card__btn btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide tours-card">
          <div class="tours-card__wrapper">
            <span class="tours-card__type">Автобусный тур</span>
            <strong class="tours-card__title">Обзорная по&nbsp;Сочи (из&nbsp;Адлера)</strong>
            <div class="tours-card__info">
              <span class="tours-card__time">6 часов</span>
              <span class="tours-card__price">618&nbsp;&#8381;</span>
            </div>
            <p class="tours-card__descr">Приглашаем вас на&nbsp;экскурсию
              &laquo;Обзорная по&nbsp;Большому Сочи&raquo;:
              Экскурсия начнется с&nbsp;подъёма на&nbsp;гору Большой Ахун&nbsp;&mdash; это высшая точка
              (665&nbsp;метров)
              на&nbsp;побережьи Сочи. На&nbsp;вершине горы Большой Ахун есть смотровая башня, построенная в&nbsp;1935-36
              годах
              по&nbsp;проекту архитектора С.&nbsp;И.&nbsp;Воробьева...</p>
            <a href="#" class="tours-card__btn btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide tours-card">
          <div class="tours-card__wrapper">
            <span class="tours-card__type">Автобусный тур</span>
            <strong class="tours-card__title">Обзорная по&nbsp;Сочи (из&nbsp;Адлера)</strong>
            <div class="tours-card__info">
              <span class="tours-card__time">6 часов</span>
              <span class="tours-card__price">618&nbsp;&#8381;</span>
            </div>
            <p class="tours-card__descr">Приглашаем вас на&nbsp;экскурсию
              &laquo;Обзорная по&nbsp;Большому Сочи&raquo;:
              Экскурсия начнется с&nbsp;подъёма на&nbsp;гору Большой Ахун&nbsp;&mdash; это высшая точка
              (665&nbsp;метров)
              на&nbsp;побережьи Сочи. На&nbsp;вершине горы Большой Ахун есть смотровая башня, построенная в&nbsp;1935-36
              годах
              по&nbsp;проекту архитектора С.&nbsp;И.&nbsp;Воробьева...</p>
            <a href="#" class="tours-card__btn btn">Подробнее</a>
          </div>
        </div>
        <div class="swiper-slide tours-card">
          <div class="tours-card__wrapper">
            <span class="tours-card__type">Автобусный тур</span>
            <strong class="tours-card__title">Обзорная по&nbsp;Сочи (из&nbsp;Адлера)</strong>
            <div class="tours-card__info">
              <span class="tours-card__time">6 часов</span>
              <span class="tours-card__price">618&nbsp;&#8381;</span>
            </div>
            <p class="tours-card__descr">Приглашаем вас на&nbsp;экскурсию
              &laquo;Обзорная по&nbsp;Большому Сочи&raquo;:
              Экскурсия начнется с&nbsp;подъёма на&nbsp;гору Большой Ахун&nbsp;&mdash; это высшая точка
              (665&nbsp;метров)
              на&nbsp;побережьи Сочи. На&nbsp;вершине горы Большой Ахун есть смотровая башня, построенная в&nbsp;1935-36
              годах
              по&nbsp;проекту архитектора С.&nbsp;И.&nbsp;Воробьева...</p>
            <a href="#" class="tours-card__btn btn">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="tours-slider__controls">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>
