<section class="info">
  <div class="container info__container">
    <h2 class="title info__title">Описание</h2>
    <div class="info__lower">
      <p class="info__text descr">Вас ждет путешествие по&nbsp;&laquo;Золотому Кольцу Абхазии&raquo; на&nbsp;Мерседес
        Спринтер (20&nbsp;мест).
        По&nbsp;маршруту вас будет сопровождать профессиональный гид. Посадка на&nbsp;экскурсию осуществляется
        с&nbsp;вашего
        отеля или ближайшей автобусной остановки. Пересечение границы без пересадок.</p>
      <ul class="info__list list-reset">
        <li class="info__data info-block">
          <strong class="info__item subtitle">1 618 &#8381;</strong>
          <p class="info__descr descr">Взрослый билет</p>
        </li>
        <li class="info__data info-block">
          <strong class="info__item subtitle">1 423 &#8381;</strong>
          <p class="info__descr descr">Детский билет</p>
        </li>
        <li class="info__data info-block">
          <strong class="info__item subtitle">12 часов</strong>
        </li>
      </ul>
    </div>
  </div>
</section>
