:root {
  --font-family: "Montserrat";
    --content-width: 1120px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  
    // отступы
  
    --big-offset: 40px;
    --middle-offset: 20px;
    --small-offset: 10px;
  
    // цвета
    --white-color: #fff;
    --black-color: #282828;
    --main-color: #0499dd;
    --secondary-color: #ffc700;
    --gray-color: #ededed;
}