.nav {
  &__list {
    display: flex;
  }

  &__link {
    transition: color 0.15s ease-in-out;
  }
}

// .

.socials {
  &__link {
    fill: none;
    transition: stroke 0.15s ease-in-out;
  }
}

.title {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color);

  @include mobile {
    font-size: 22px;
  }
}

.title-main {
  margin: 0;
  font-size: 72px;
  color: var(--white-color);

  @include tablet {
    font-size: 48px;
  }

  @include mobile {
    font-size: 36px;
    line-height: 44px;
  }
}

.btn {
  @include gradient;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  font-weight: 700;
  font-size: 14px;
  color: var(--white-color);

  &--arrow {
    &::after {
      content: "";
      display: block;
      margin: 0 0 0 var(--small-offset);
      width: 20px;
      height: 10px;
      background-image: url("../img/svg/arrow.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.btn-like {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  svg {
    stroke: #d4d4d4;
    transition: stroke 0.1s ease-in-out;
  }

  &:hover {
    svg {
      stroke: var(--main-color);
    }
  }

  &--active {
    border: 2px solid var(--main-color);

    svg {
      stroke: var(--main-color);
    }
  }
}

.view-all {
  font-size: 14px;
  color: var(--black-color);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--black-color);
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
  }

  &:hover::after {
    opacity: 0;
  }
}

.custom-input {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: var(--middle-offset);
    top: 15px;
    display: block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  input {
    margin: 0;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: var(--middle-offset) 45px var(--middle-offset) var(--middle-offset);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  &--place {
    &::after {
      background-image: url("../img/svg/icon-mark.svg");
    }
  }

  &--calendar {
    &::after {
      background-image: url("../img/svg/icon-calendar.svg");
    }
  }

  &--people {
    &::after {
      background-image: url("../img/svg/icon-people.svg");
    }
  }
}

// ?swiper

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  left: 0;
  right: 0;
  top: unset;
  bottom: 0;
  color: var(--main-color);
}

.swiper-button-next {
  left: calc(24px + var(--middle-offset));
}

.swiper-button-disabled {
  color: #c6c6c6;
}

.swiper-scrollbar {
  margin: 0 0 0 calc(54px + var(--middle-offset));
  width: calc(100% - 54px - var(--middle-offset) * 2);
  height: 3px;
}

.swiper-scrollbar-drag {
  background: var(--main-color);
}

.swiper-controls {
  position: relative;
  top: 75px;
  display: flex;
}
