// базовые подключения

@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/hero";
@import "./components/tours";
@import "./components/about";
@import "./components/kinds";
@import "./components/gallery";
@import "./components/feedback";
@import "./components/request";
@import "./components/footer";

// универсальные стили

// header

.nav {
  &__list {
    display: flex;
  }

  &__link {
    transition: color 0.15s ease-in-out;
  }
}

// .

.socials {
  &__link {
    fill: none;
    transition: stroke 0.15s ease-in-out;
  }
}

.title {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-color);

  @include mobile {
    font-size: 22px;
  }
}

.btn {
  @include gradient;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  font-weight: 700;
  font-size: 14px;
  color: var(--white-color);

  &--arrow {
    &::after {
      content: "";
      display: block;
      margin: 0 0 0 var(--small-offset);
      width: 20px;
      height: 10px;
      background-image: url("../img/svg/arrow.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.view-all {
  font-size: 14px;
  color: var(--black-color);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--black-color);
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
  }

  &:hover::after {
    opacity: 0;
  }
}

// ?swiper

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  left: 0;
  right: 0;
  top: unset;
  bottom: 0;
  color: var(--main-color);
}

.swiper-button-next {
  left: calc(24px + var(--middle-offset));
}

.swiper-button-disabled {
  color: #c6c6c6;
}

.swiper-scrollbar {
  margin: 0 0 0 calc(54px + var(--middle-offset));
  width: calc(100% - 54px - var(--middle-offset) * 2);
  height: 3px;
}

.swiper-scrollbar-drag {
  background: var(--main-color);
}

.swiper-controls {
  position: relative;
  top: 75px;
  display: flex;
}
